<h2>{{titulo}}</h2>
{{#if hayProductos}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;">
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
            {{#each array_productos}}
                <tr>
                    <td>{{title}}</td>
                    <td>$ {{price}}</td>
                    <td><img src="{{thumbnail}}" alt="{{title}}" width="50"></td>
                    <td>
                        <button class="btn btn-danger" onclick="eliminarProducto({{id}})">Eliminar</button>
                        <button class="btn btn-warning" onclick="editarProducto({{id}})">Editar</button>
                    </td>
                </tr>
            {{/each}}
        </table>
{{else}}
    <h3 class="alert alert-danger">No se encontraron {{titulo}}</h3>
{{/if}}
{{#if hayProductos}}
    <div class="alert alert-success">
        <h3>Total: {{total}}</h3>
    </div>
{{/if}}